/* Font settings for the login element, excluding icons to prevent them from breaking */
.league-spartan-login:not(.fa-solid) {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dosis-login {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Login Settings */
.login * {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    color: white;
}

.login form {
    margin-top: 0;
}

.login button {
    width: 180px;
    height: 70px;
    background-color: var(--accent);
    color: white;
    border-width: 0px;
    transition: 0.5s;
    font-size: 30px;
}

.login button:hover {
    background-color: #9e473a;
    cursor: pointer;
}

.login-cont {
    margin: 100px auto 0;
    padding: 30px 50px;
    background-color: var(--secondary-color-dark);
    width: 504px;
    height: 615px;
}

.login h1 {
    font-size: 40px;
    width: 100%;
    text-wrap: nowrap;
    margin-top: 0;
}

.login a, .error-login {
    color: var(--accent);
}

.login input {
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 5px 10px;
    color: black;
}