/* Font settings for the register element, excluding icons to prevent them from breaking */
.league-spartan-register:not(.fa-solid) {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dosis-register {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* register Settings */
.register * {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    color: white;
}

.register form {
    margin-top: 0;
}

.register button {
    width: 180px;
    height: 70px;
    background-color: var(--accent);
    color: white;
    border-width: 0px;
    transition: 0.5s;
    font-size: 30px;
}

.register button:hover {
    background-color: #9e473a;
    cursor: pointer;
}

.register-cont {
    margin: 100px auto 0;
    padding: 30px 50px;
    background-color: var(--secondary-color-dark);
    width: 504px;
    height: 666px;
}

.register h1 {
    font-size: 40px;
    width: 100%;
    text-wrap: nowrap;
    margin-top: 0;
}

.register a, .error-register {
    color: var(--accent);
}

.register input {
    width: 100%;
    height: 50px;
    text-align: left;
    padding: 5px 10px;
    color: black;
}